<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:fileLayout="http://www.ultraq.net.nz/thymeleaf/fileLayout"
      fileLayout:decorate="~{fileLayout}">

<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>

<body>

<div class="mdl-grid" fileLayout:fragment="content">

    <div class="mdl-cell mdl-cell--12-col">
        <h4>
            <span th:if="${mode} == 'new'">Create New User</span>
            <span th:if="${mode} == 'edit'">Edit User</span>
            <span th:if="${mode} == 'view'">Show User</span>
        </h4>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
        <!--<a href="#" th:href="@{/user/new}">-->
        <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-button&#45;&#45;colored">New</button>-->
        <!--</a>-->
    </div>

    <div class="mdl-cell mdl-cell--2-col"></div>

    <form method="post" action="#" th:action="(${mode} == 'edit') ? (@{/user/${user.username}}) : (@{/user/new})">
        <div class="mdl-cell mdl-cell--8-col">


            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="name" id="name" th:value="${user.username}"/>
                <label class="mdl-textfield__label" for="name">Name: </label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="email" id="email" th:value="${user.email}"/>
                <label class="mdl-textfield__label" for="email">email: </label>
            </div>

            <!--<div class="mdl-textfield">-->
            <!--<input class="mdl-button mdl-button&#45;&#45;raised mdl-button&#45;&#45;colored" type="submit" value="Edit"-->
            <!--th:value="(${mode} == 'new') ? ('Create') : ('Save')"/>-->
            <!--</div>-->

        </div>


        <div class="mdl-cell mdl-cell--8-col mdl-grid" th:unless="${mode} == 'view'">

            <div class="mdl-cell ">
                <a class="mdl-button mdl-button--raised" th:value="(${mode} == 'new') ? ('Create') : ('Save')">Edit</a>
            </div>

            <div class="mdl-cell">
                <a class="mdl-button" href="#" th:href="@{/user/}">Back</a>
            </div>

        </div>

    </form>

</div>

</body>
</html>