<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:fileLayout="http://www.ultraq.net.nz/thymeleaf/fileLayout"
      fileLayout:decorate="~{fileLayout}">

<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>

<body>

<div class="mdl-grid" fileLayout:fragment="content">


    <div class="mdl-cell mdl-cell--10-col">
        <h4>Users</h4>
    </div>

    <div class="mdl-cell mdl-cell--10-col">
        <a href="#" th:href="@{/user/new}">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">New</button>
        </a>
    </div>

    <div class="mdl-cell mdl-cell--2-col"></div>

    <div class="mdl-cell">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th>username</th>
                <td>email</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}">${user.username}</td>
                <td th:text="${user.email}">${user.email}</td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

</body>
</html>