<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:fileLayout="http://www.ultraq.net.nz/thymeleaf/fileLayout"
      fileLayout:decorate="~{fileLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="page-content" fileLayout:fragment="content">

    <h4>Manage Client Applications</h4>

    <a href="/applications/new" th:href="@{/manage/applications/new}">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">New</button>
    </a>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <td>clientId</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="app : ${managedApplicationList}">
            <td th:text="${app.id}">${app.id}</td>
            <td th:text="${app.clientId}">${app.cliendId}</td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>